@import "tailwindcss";

html, body {
    background: var(--color-slate-50);
}
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-slate-300, currentColor);
    }
}

@theme {
    --color-primary-main: #FFDA6E;

    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;


    --spacing-sidebar-width: 300px;
    --spacing-top-bar-height: 60px;
}


